* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  display: block;
  width: 100%
}

.sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #000;
  left: -200px;
  transition: .4s;
}

.sidebar ul li {
  list-style: none;
  color: rgb(226, 55, 55);
  font-size: 20px;
  padding: 26px 24px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .burger {
  position: absolute;
  left: 220px;
  font-size: 30px;
  font-weight: bold;
}



.fas {
  color: #545b6a;
  padding-top: 20px;
}


.sidebar .show {
  left: 300px;
}

.introduction {
  padding-top: 80px;
  background-image: url(/images/mainpic.png);
  height: 450px;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
}

.heading {
  padding-bottom: 30px;
}

.heading1 {
  font-size: 1.3rem;
  font-family: 'lato', sans-serif;
  color: #ec5242;
}

.heading2 {
  font-size: 2.3rem;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
  color: #ec5242;
  max-width: 25rem;
}

.text1 {
  border: 2.5px solid #fff;
  font-size: 0.9rem;
  padding: 7px;
  max-width: 30rem;
}

.text2 {
  padding-top: 20px;
  color: #545b6a;
  font-weight: 750;
  font-size: 1.75rem;
  font-family: '', sans-serif;
}

.text3 {
  font-size: 1.rem;
  padding-top: 7px;
}

.main-p {
  text-align: center;
  color: #ec5242;
  padding-top: 20px;
}

.main-p::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.07em;
  width: 1.5em;
  border-radius: 0.05em;
  margin: 0 auto;
  margin-top: 0.6em;
  background-color: #ec5242;
}


.main-program {
  background-image: url(/images/mainpic2.png);
  background-color: rgb(26, 25, 25);
  color: #fff;
  background-position: inherit;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding-top: 30px; 
  margin-left: 14px;
  max-width: 93%;
  justify-content: center;
}

.card-heading {
  line-height: px;
  font-size: 1.3rem;
  color:#ef513c;
  font-weight: bold;
}

.card .icon {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
}

.card-description {
  line-height: 1.5rem;
  font-size: 1rem;
  flex-basis: 80%;
  padding-left: 15px;
  float: left;
  text-align: left;
  justify-content: flex-start;
  
}

.card {
  display: flex;
  background-color: rgba(245, 245, 248, 0.1);
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.attend-btn {
  background-color: #e4331f;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: block;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1.2rem;
  cursor: pointer;
  margin: 30px;
}

.f-speakers::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.07em;
  width: 1.5em;
  border-radius: 0.05em;
  margin: 0 auto;
  margin-top: 0.6em;
  background-color: #c90808;
}

.featured-card {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(229, 226, 226, 0.904);
}

.f-speakers {
  margin-top: 50px;
  font-weight: bolder;

}
.speaker-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  gap: 2rem;
}

.speaker-image-holder {
  background-image: url(./images/checkimg.png);
  background-size: 40%;
  background-repeat: no-repeat;
  position: relative;
}

.speaker-image-holder img {
  width: 05rem;
  height: 05rem;
  bottom: 0;
  right: 0;
  padding-left: 5px;
  border-radius: 1rem;
  padding-top: 2px;

}

.speaker-info{}

.speaker-text {}

.speaker-text::after{
  bottom: 0;
  content: "";
  display: block;
  height: 0.07em;
  width: 2.5em;
  border-radius: 0.05em;
  margin: 0 auto;
  margin-top: 0.6em;
  background-color: #504d4d; 
}

.speaker-desc {
  color: #545b6a;
  font-weight: bold;
}

.more-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid rgb(194, 193, 193);
  background-color: white;
  margin-bottom: 30px;
}

.more-button .cmore-icon {
  color: #c90808;

}

.more-button .cmore {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
}

.speaker-text {
  font-style: italic;
  color: #c90808;
  padding-bottom: 0.5em;
  padding-top: 0.5rem;
}

.bottom-icon {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(229, 226, 226, 0.904);
}

.bottom-icon .left {
  font-weight: rem;
}

.bottom-icon .left {
  display: flex;
  flex-direction: row;
  row-gap: 0;
}

.bottomicon {
  width: 2rem;
}

.bottom-icon .right-icon img {
  width: 08rem;
  height: 3rem;
  background-color: rgba(229, 226, 226, 0.904);
}

.afcon {
  background-color: transparent;
}





@media screen and (max-width: 768px) {
  .dsk-see-program {
    display: none;
  }
}


@media screen and (min-width: 768px) {
  .fas {
    display: none;
  }

  .attend-btn {
    display: none;
  }
}