* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  display: block;
  width: 100%
}

.sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #000;
  left: -200px;
  transition: .4s;
}

.sidebar ul li {
  list-style: none;
  color: rgb(226, 55, 55);
  font-size: 20px;
  padding: 26px 24px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .burger {
  position: absolute;
  left: 220px;
  font-size: 30px;
  font-weight: bold;
}



.fas {
  color: #545b6a;
  padding-top: 20px;
}


.sidebar .show {
  left: 300px;
}

.introduction {
  padding-top: 80px;
  background-image: url(/images/mainpic.png);
  height: 450px;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
}

.heading {
  padding-bottom: 30px;
}

.heading1 {
  font-size: 1.3rem;
  font-family: 'lato', sans-serif;
  color: #ec5242;
}

.heading2 {
  font-size: 2.3rem;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
  color: #ec5242;
  max-width: 25rem;
}

.text1 {
  border: 2.5px solid #fff;
  font-size: 0.9rem;
  padding: 7px;
  max-width: 30rem;
}

.text2 {
  padding-top: 20px;
  color: #545b6a;
  font-weight: 750;
  font-size: 1.75rem;
  font-family: '', sans-serif;
}

.text3 {
  font-size: 1.rem;
  padding-top: 7px;
}

.main-p {
  text-align: center;
  color: #ec5242;
}

.main-p::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.07em;
  width: 1.5em;
  border-radius: 0.05em;
  margin: 0 auto;
  margin-top: 0.6em;
  background-color: #ec5242;
}


.main-program {
  background-image: url(/images/mainpic2.png);
  background-color: rgb(26, 25, 25);
  color: #fff;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding-top: 30px; 
  margin-left: 16px;
  max-width: 95%;
}

.card {
  display: flex;
  background-color: rgba(245, 245, 248, 0.1);
  align-items: center;
  padding: 16px 0;
}


@media screen and (max-width: 768px) {}


@media screen and (min-width: 768px) {
  .fas {
    display: none;
  }
}